<nav class="flex ml-5 w100 bg-orange-100 p-2">
    <ul class="flex gap-10">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>